.App {
  width: 100%;
  padding: 30px 50px;
  background: linear-gradient( #625296, #e07985);
  color: white;
  min-height: 100vh;
  font-family: 'Source Sans Pro', sans-serif;
}

.App nav {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.App nav a {
  text-decoration: none;
  padding: 8px 16px;
  font-size: 1.6rem;
  color: white;
}

.App .logo {
  width: 50px;
  margin-right: 16px;
}

.form-wrapper {
  width: 70%;
  max-width: 400px;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
}

.form-wrapper h2 {
  font-size: 2.4rem;
  font-weight: 400;
  margin-bottom: 16px;
}

.form-wrapper input, .form-wrapper select {
  font-size: 1.6rem;
  padding: 5px 8px;
}

.form-wrapper label {
  font-size: 1.6rem;
}

.form-wrapper .btn-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-wrapper button {
  font-size: 1.6rem;
  padding: 5px 12px;
  text-align: center;
}

.form-wrapper form {
  border: 1px solid #cdcdcd;
  color: #625296;
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 0 1px 1px #cdcdcd;
  cursor: pointer;
  background-color: white;
}

.form-wrapper .error-message {
  margin: 10px 0;
  font-size: 1.4rem;
  text-align: center;
  color: crimson;
}

.howtos-wrapper, .creator-howto-wrapper {
  width: 80%;
  margin: 20px auto;
  font-size: 1.6rem; 
}

.howto-wrapper, .creator-howto-wrapper {
  margin: 30px 50px;
  padding: 30px 50px;
  border: 1px solid black;
  border-radius: 5px;
  background: white;
  color: #000000;
}

.creator-howto-wrapper .creator-buttons {
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-end;
}
.howto-header {
  display: flex;
  width: 80%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: baseline;
  font-size: 2rem;
}

.formgroup {
  width: 60%;
  display: flex;
  align-items: baseline;
  justify-content: flex-end;
}

.formgroup label {
  width: 40%;
}

.formgroup label, .formgroup input {
  font-size: 1.6rem;
}