.App {
  width: 100%;
  background: linear-gradient( #625296, #e07985);
  color: white;
  min-height: 100vh;
  font-family: 'Source Sans Pro', sans-serif;
}

.App a.nav-link, .App a{
  text-decoration: none;
  padding: 5px 8px;
  font-size: 1.8rem; 
  color: white;
}

.logo-text {
  color: white;
  border: none;
  outline: none;
  background: transparent;
}
.App .logo {
  width: 30px;
  margin-right: 5px;
}
/* 
.App nav h2 {
  font-size: 1.8rem;
} */

main {
  padding: 30px 50px;
}
.form-wrapper {
  width: 70%;
  max-width: 400px;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
}

.form-wrapper h2 {
  font-size: 2.4rem;
  font-weight: 400;
  margin-bottom: 16px;
}

.form-wrapper input, .form-wrapper select, .form-wrapper textarea {
  font-size: 1.6rem;
  padding: 5px 8px;
}

.form-wrapper label {
  font-size: 1.6rem;
}

.form-wrapper .btn-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-wrapper button {
  font-size: 1.6rem;
  padding: 5px 12px;
  text-align: center;
}

.form-wrapper form {
  border: 1px solid #cdcdcd;
  color: #625296;
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 0 1px 1px #cdcdcd;
  cursor: pointer;
  background-color: white;
}

.form-wrapper .error-message {
  margin: 10px 0;
  font-size: 1.6rem;
  text-align: center;
  color: crimson;
}

.loading {
  width: 800px;
  height: 500px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
}

.loading img {
  width: 150px;
  margin-bottom: 25px;
}

.loading span {
  font-size: 1.8rem;
  font-weight: 600;
}

.howtos-wrapper {
  width: 100%;
  max-width: 800px;
  margin: 20px auto;
  font-size: 1.6rem; 
}

.howto-wrapper, .creator-howto-wrapper {
  padding: 25px 25px;
  border: 1px solid #cdcdcd;
  box-shadow: 0 1px 1px #cdcdcd;
  border-radius: 5px;
  background: white;
  color: #000000;
  margin: 0 auto;
  margin-top: 20px;
  min-width: 250px;
  max-width: 800px;
}

.not-creator-message {
  display: flex;
  min-height: 75vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.not-creator-message img {
  border-radius: 30%;
}
.not-creator-message p {
  font-size: 1.8rem;
}
.creator-howto-wrapper .creator-buttons {
  display: flex;
  justify-content: flex-end;
}

.howto-header, .creator-header {
  display: flex;
  width: 100%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: baseline;
  font-size: 1.6rem;
}

.creator-header {
  width: 80%;
}
.howto-header h2 {
  font-weight: 400;
  font-size: 1.8rem;
}

.formgroup {
  width: 60%;
  display: flex;
  align-items: baseline;
  justify-content: flex-end;
}

.formgroup label {
  width: 40%;
}

.formgroup label, .formgroup input {
  font-size: 1.6rem;
}

.form-controls {
  display: flex;
  flex-direction: column;
  align-items: flex-end; 
}

.form-controls .top-row {
  align-self: flex-start;
}

.creator-dashboard {
  width: 80%;
  margin: 0 auto;
  font-size: 1.6rem;
}

.creator-dashboard button, .creator-buttons button {
  font-size: 1.6rem !important;
}
.creator-dashboard h3 {
  font-size: 1.8rem;
  font-weight: 600;
}

.creator-dashboard h5 {
  font-size: 1.8rem;
}

.creator-dashboard .form-wrapper {
  width: 100%;
  max-width: 800px;
  margin: 25px auto;
}

.paragraph-input {
  font-size: 1.6rem;
  min-height: 100px;
  max-height: 200px;
  overflow: auto;
}

@media(max-width: 750px){
  .App a.nav-link{
    width: 100%!important;
  }
  li.nav-item {
    width: 100%!important;
  }
}

@media(max-width: 500px){
 
}
@media (prefers-reduced-motion: no-preference) {
  .loading img {
    animation: Loading-logo-spin infinite 20s linear;
  }
}


@keyframes Loading-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}